{{!-- about me section start --}}

<section class="about-me bg-light">
   <div class="container">
      <div class="content">
         <div class="area-5">
            <div class="title">
               <div class="tag">
                  Biography
               </div>
               <span class="sm-text">
                  About
               </span>
               <h6 class="big-text">
                  Me
               </h6>
            </div>
            <p class="desc">
               Hi! My name is Nixt Ahir. I am Web developer, and I'm very passionate and
               dedicated to my work.In addition, my merely motive is to develop a bright career in the
               field of information technology
               by
               applying my
               knowledge, creativity and skills. And helping society to be advanced in the eld of
               technology
            </p>
            <a href="javascript:void(0);" class="nx-btn">download resume</a>
         </div>
         <div class="area-5">
            <div class="details-container">
               <div class="details-tag">
                  <h6 class="head">
                     Name :
                  </h6>
                  <span class="detail">
                     Nixit Ahir
                  </span>
               </div>
               <div class="details-tag">
                  <h6 class="head">
                     Birth Date :
                  </h6>
                  <span class="detail">
                     january 12
                  </span>
               </div>
               <div class="details-tag">
                  <h6 class="head">
                     Age :
                  </h6>
                  <span class="detail">
                     22 Years
                  </span>
               </div>
               <div class="details-tag">
                  <h6 class="head">
                     Adress :
                  </h6>
                  <span class="detail">
                     Hamilton,On,Canada
                  </span>
               </div>
               <div class="details-tag">
                  <h6 class="head">
                     Phone :
                  </h6>
                  <span class="detail">
                     (+1) 1234567890
                  </span>
               </div>
               <div class="details-tag">
                  <h6 class="head">
                     Email :
                  </h6>
                  <span class="detail">
                     sample@mail.com
                  </span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<section class="about-me mb150">
   <div class="container">
      <div class="content">
         <div class="area-5">
            <div class="title">
               <div class="tag">
                  Resume
               </div>
               <span class="sm-text">
                  Skill &
               </span>
               <h6 class="big-text">
                  Experience
               </h6>
            </div>
            <ul class="tabs-nav">
               <li class="active"><a href="#Skills">Skills</a></li>
               <li><a href="#education">education</a></li>
               <li><a href="#experience">experience</a></li>
            </ul>
         </div>
         <div class="area-5">
            <div class="tabs-content">
               <div id="Skills">
                  <h3 class="tabs-content-head">
                     Skills
                  </h3>
                  <ul class="nx-progress-bar">
                     <li class="nx-progressbar-item">
                        <span class="nx-progressbar-name">HTML & CSS3</span>
                        <span class="nx-value"></span>
                        <div class="nx-progressbar-value" data-percent="90"></div>
                     </li>
                     <li class="nx-progressbar-item">
                        <span class="nx-progressbar-name">Js & jQuery</span>
                        <span class="nx-value"></span>
                        <div class="nx-progressbar-value" data-percent="70"></div>
                     </li>
                     <li class="nx-progressbar-item">
                        <span class="nx-progressbar-name">Flutter</span>
                        <span class="nx-value"></span>
                        <div class="nx-progressbar-value" data-percent="75"></div>
                     </li>
                  </ul>
               </div>
               <div id="education">
                  <h3 class="tabs-content-head">
                     educations
                  </h3>
                  <div class="edu_list">
                     <ul>
                        <li>
                           <div class="item">
                              <div class="item_top">
                                 <h5>gujarat technological university(GTU)</h5>
                                 <span>( 2016 — 2020 )</span>
                              </div>
                              <h3>Information technology (IT)</h3>
                              <p>building communications networks for a company, safeguarding data
                                 and information, creating and administering databases </p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
               <div id="experience">
                  <h3 class="tabs-content-head">experience</h3>
                  <div class="edu_list">
                     <ul>
                        <li>
                           <div class="item mb-3">
                              <div class="item_top">
                                 <h5>Techno Heaven Consultancy</h5>
                                 <span>(May 2020 - August 2021 )</span>
                              </div>
                              <h3>Frontend Developer</h3>
                              <p>Worked as a front end developer, during that time span I haved
                                 used bootstrap and jQuery mosy tonperform my task. I also
                                 learned the basic use of Adobe Xd and Figma. </p>
                           </div>
                           <div class="item">
                              <div class="item_top">
                                 <h5>Peaceful Technology</h5>
                                 <span>(May 2020 - August 2021 )</span>
                              </div>
                              <h3>Web designing Intership</h3>
                              <p>Enhance my knowledge by testing perfotming task assigned to me,
                                 while learing the web development process.</p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{{!-- about me section End --}}