{{!-- contact us ection start --}}
<section class="contact-me bg-light">
	<div class="container">
		<div class="content">
			<div class="area-5">
				<div class="title">
					<div class="tag">
						Contact Me
					</div>
					<span class="sm-text">
						Get Your
					</span>
					<h6 class="big-text">
						Work Done
					</h6>
				</div>
			</div>
			<div class="area-5">
				<div class="contact-form">
					<div class="row">
						<div class="col-6">
							<input type="text" name="name" placeholder="Your Name" required>
						</div>
						<div class="col-6">
							<input type="email" name="email" placeholder="Your Email" required>
						</div>
						<div class="col-6">
							<input type="tel" name="phnnum" placeholder="Your Phone Number" required>
						</div>
						<div class="col-6">
							<input type="text" name="subject" placeholder="Subject" required>
						</div>
						<div class="col-12">
							<textarea name="message" placeholder="Message" cols="30" rows="5"></textarea>
						</div>
						<a href="javascript:void(0);" class="nx-btn fit-content">contact me</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{!-- contact us ection end --}}