{{!-- portfolio section start --}}
<section class="nx-portfolio-section">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="title">
               <div class="tag">
                  Contact Me
               </div>
               <span class="sm-text">
                  Get Your
               </span>
               <h6 class="big-text">
                  Work Done
               </h6>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-lg-4 col-md-6">
            <div class="nx-portfoliobox">
               <img src="/images/portfolio/p1.jpg" class="img-fluid" alt="3">
               <div class="nx-portfoliobox-content">
                  <span class="nx-category">
                     project java
                  </span>
                  <h5 class="nx-title">
                     Java dev
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="nx-portfoliobox">
               <img src="/images/portfolio/p2.jpg" class="img-fluid" alt="3">
               <div class="nx-portfoliobox-content">
                  <span class="nx-category">
                     project css
                  </span>
                  <h5 class="nx-title">
                     web designing
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="nx-portfoliobox">
               <img src="/images/portfolio/p3.jpg" class="img-fluid" alt="3">
               <div class="nx-portfoliobox-content">
                  <span class="nx-category">
                     project react
                  </span>
                  <h5 class="nx-title">
                     Substantial react idea
                  </h5>
               </div>
            </div>
         </div>
      </div>
      <div class="row mt-4">
         <div class="col-lg-4 col-md-6">
            <div class="nx-portfoliobox">
               <img src="/images/portfolio/p4.jpg" class="img-fluid" alt="3">
               <div class="nx-portfoliobox-content">
                  <span class="nx-category">
                     project flutter
                  </span>
                  <h5 class="nx-title">
                     cross platform
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="nx-portfoliobox">
               <img src="/images/portfolio/p5.jpg" class="img-fluid" alt="3">
               <div class="nx-portfoliobox-content">
                  <span class="nx-category">
                     data analysis
                  </span>
                  <h5 class="nx-title">
                     Substantial Growth
                  </h5>
               </div>
            </div>
         </div>
         <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="nx-portfoliobox">
               <img src="/images/portfolio/p6.jpg" class="img-fluid" alt="3">
               <div class="nx-portfoliobox-content">
                  <span class="nx-category">
                     data regression
                  </span>
                  <h5 class="nx-title">
                     gdata comparision
                  </h5>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{{!-- portfolio section end --}}